.callBackground {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow-y: scroll;
  }
  
  .callContainer {
    position: relative;
    width: 400px;
    height: 700px;
    background: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 1.5rem;
  }
  
  .callBlur {
    width: 400px;
    height: 320px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: 1.5rem;
    z-index: 2;
  }
  
  .callHeader {
    /* blur */
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* filter: blur(60px);
    overflow: hidden; */
  
    background: linear-gradient(
      180deg,
      rgba(8, 8, 8, 0) 0%,
      rgba(8, 8, 8, 0.1) 23.94%,
      rgba(8, 8, 8, 0.24) 34.55%,
      #191b1a 100%
    );
    border-radius: 0px;
    z-index: 1;
  }
  
  .callImage {
    /* blur */
    width: 400px;
    height: 320px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* filter: blur(00px); */
    object-fit: cover;
  }
  
  .callName {
    /* 양오오니 */
    position: absolute;
    left: 14%;
    top: 22.8%;
  
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    color: #ffffff;
    z-index: 2;
  }
  
  .callJob {
    /* UX UI 디자이너 */
    position: absolute;
    left: 14%;
    top: 27.8%;
  
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  
    color: #ffffff;
  
    opacity: 0.6;
    z-index: 2;
  }
  
  .callTime {
    /* 07:00 */
    position: absolute;
    width: 12.5%;
    height: 3.5%;
    left: 17%;
    top: 32.2%;
  
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #000000;
  
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 10px;
    z-index: 2;
  }
  
  .callExit {
    /* Ellipse 1 */
  
    position: absolute;
    width: 14%;
    height: 8%;
    left: 72.2%;
    top: 27%;
    border-radius: 50%;
    background: #fc015b;
    z-index: 3;
    border: none;
    cursor: pointer;
  }
  
  .callExitIcon {
    /* Vector */
  
    position: absolute;
    left: 28%;
    top: 30%;
    transform: rotate(135deg);
    z-index: 10;
  }
  
  .callNew {
    /* 다른 친구와 통화하기 */
  
    position: absolute;
    height: 4.8%;
    left: 34%;
    right: 0%;
    top: 32%;
    bottom: 0%;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(216, 219, 221, 0.4);
    /* blur */
  
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 8px;
    border: none;
    color: white;
    z-index: 3;
    cursor: pointer;
  }
  
  .callFriend {
    /* 친구신청 */
  
    position: absolute;
    height: 4.8%;
    left: 70%;
    right: 0%;
    top: 32%;
    bottom: 0%;
    padding-left: 15px;
    padding-right: 15px;
    background: #25d482;
    /* blur */
  
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 8px;
    border: none;
    color: white;
    z-index: 3;
    cursor: pointer;
  }
  
  .callFooter {
    /* BG */
    margin: 1.5rem;
    width: 400px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 36.76%;
    bottom: 0%;
  
    /* White */
  
    background: #ffffff;
    /* box-shadow: 0px 2px 20px rgba(129, 74, 74, 0.15); */
    border-radius: 24px 24px 0px 0px;
    z-index: 3;
  }
  
  .callFooterContainer {
    position: absolute;
    width: 87%;
    left: 6.7%;
  }
  
  .callIntro {
    /* 재밌는 일 뭐 없나 코시국에 새로운 사람들 다양한 분야 의 사람들과 TALK 을 해보고싶어서 가입했습니다. 지금 스타트업을 다니고 있어서 관련 업종에 계신 분들과 재밌는 이야기 나눠보고 싶습니다 ㅎㅎ */
    margin-top: 8%;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 136% */
  
    letter-spacing: -0.005em;
  
    color: #505050;
  }
  
  .callTitle {
    /* 목표/버킷리스트 */
  
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  
    color: #25d482;
  }
  
  .callContent {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 136% */
  
    letter-spacing: -0.005em;
  
    color: #505050;
  }
  
  .callDetailTitles {
    /* 성별: */
    float: left;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height */
  
    color: #505050;
  }
  
  .callDetailContents {
    line-height: 25px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height */
    color: #505050;
    margin-left: 25%;
  }
  #last {
    margin-bottom: 15%;
  }
  /* #me {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
    z-index: 1;
  }
  #me video {
    position: relative;
  }
  #remote-container {
    display: flex;
  }
  #remote-container video {
    position: relative !important;
  } */